<script type="text/x-kendo-tmpl" id="my_location_listView_template">
	<div>
		<span>
			<p class="my_location_content1">#: name #</p>
			<p class="my_location_content2">#: address # </p>
		</span>
		<span style="float:right;width:50%">
			<p class="my_location_content4">#: district_name # </p>
		</span>
		<span style="float:left;width:50%">
			<p class="my_location_content3">#: state_name # </p>
		</span>
		<span class="ms_user_icon">
			<i data-ms-widget-type="mButton" data-ms-button-group="misc" data-ms-button-role="delete" data-id="#: uid #" class="fas #: mService.icons.myLocation.delete #"></i>
		</span>
	</div>
</script>







